.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rond-sky-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(14 165 233 / var(--tw-bg-opacity));
  border-radius: 50%;
}